@extends('layouts.admin')

@section('content')
.container
	br
	.card-panel
		h4.blue-text Home de Admin
		.divider
		p
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quia cupiditate, voluptates, odio maiores incidunt natus in tempora id doloremque, harum, totam veritatis debitis? Obcaecati, voluptates maiores. Minima, iure et.
		//esto es un comentario
		a(href="{{asset('storage/8b790154646f4c9baf473d4444900de7.jpeg')}}") Imagen
@endsection
