@extends('layouts.admin')
@section('content')
.container
	.card-panel
		h4.blue-text Chat
		.divider
		table 
			thead
				tr
					th Avatar
					th Comisión
					th Nombre
					th Chat
			tbody
				@foreach($salas as $co)
				@var('id',$co->id)
				@var('avatar',$co->councilor->avatar)
				@if(Auth::user()->email != $co->councilor->user->email)
				tr
					td
						img(width="70" src="{{asset('storage/'.$avatar)}}", alt="")
					td {{ucfirst($co->councilor->comision)}}
					td {{$co->councilor->name}}
					td
						a(href="{{url('concejal/chat/'.$id)}}")
							i.fa.fa-commenting.fa-2x(aria-hidden="true")
				@endif
				@endforeach
@endsection
